#topbar-buttons
  .center-block
    = link_to "roll", root_path, class: "btn btn-default"
    = link_to @screen, @screen, class: "btn btn-link center-block"

/ %iframe#iframe1{frameborder:"0", src:@screen}
