<h3>
  <%= link_to @screen, @screen, class: "btn btn-link" %>
  <%= link_to "another local roaster", root_path, class: "btn btn-default" %>
</h3>
<iframe id="iframe1" src="<%= @screen %>" frameborder="0" ></iframe>
