#topbar-buttons
  %div
    = link_to "roll", root_path, class: "btn btn-default"
    = link_to "#{@screen["name"]}", @screen["url"], class: "btn btn-link center-block"

/ %iframe#iframe1{frameborder:"0", src:@screen}
