.row
  - @screens.each do |screen|
    .col-xs-6.col-md-3
      .thumbnail{style:"height:20em"}
        = image_tag url_to_image_name(screen)
        / %iframe{frameborder:"0", src:screen["url"], width: "100%"}
        .caption.text-center
          = link_to screen["name"], screen["url"]

/ #topbar-buttons
/   .center-block
/     = link_to "roll", root_path, class: "btn btn-default"
/     = link_to "#{@screen["name"]}", @screen["url"], class: "btn btn-link add-block"

/ %iframe#iframe1{frameborder:"0", src:@screen["url"]}
