 <div id="topbar-buttons">
    <div><%= link_to @screen, @screen, class: "btn btn-link" %></div>
    <div><%= link_to "roll", root_path, class: "btn btn-default" %></div>
  </div>
<iframe id="iframe1" src="<%= @screen %>" frameborder="0" ></iframe>
